<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-dollar'></i>
				<!-- span has to be on next line to create that space between the logo and the words -->
				<span>Make Change Reserve-limit Request </span></h1>
		</div>
	</div>
</div>
<% role = session[:role]%>
<%if @test%>
<div class='row'>
	<div class='col-sm-12 col-lg-12'>
		<div class='box bordered-box'>
			<div class='box-content box-double-padding'>
				<%= form_for ReserveLimit.new, :url => { :action => "addReserve" }  do |f|  %>
				<fieldset>
					<div class='col-sm-4'>
						<div class='lead'>
							<i class='icon-file-alt text-contrast'></i>
							Notes On New Request limit change
						</div>
						<small class='text-muted'>It is your duty as your club's Financial Secretary to check and make sure your Reserves account has sufficient funds for withdrawal. Do also take note that if your justification is too weak, request may be rejected.</small>
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<div class='form-group'>

							
							<%= f.hidden_field(:clubid, :value => session[:club])%>
							<label>Enter amount</label>
							<br />
							<%= f.number_field(:amount, :step => 0.01, :min => 0, :max => 99999999, :class=>"form-control", :required => true, ) %><br /><br />
							<label>Enter remarks </label><br />
							<%= f.text_area :remarks, :class=>"autosize form-control", :required => true%>
						</div>
						

				</fieldset>
				<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
					<div class='text-right'>
						<%= f.submit("Submit", :class=>"btn btn-primary btn-lg blue-background")%>
					</div>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
<%else%>
Your previous request has not been processed.
<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box blue-border' style='margin-bottom:0;'>
			<div class='box-header blue-background'>
				<div class='title'>
					View Change Requests 
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-no-padding'>
				<div class='responsive-table'>
					<div class='scrollable-area'>
						<table class='table' style='margin-bottom:0;'>
							<tr>
								<td><th>Club ID</th></td> 
								<td><th>Amount</th></td> 
								<td><th>Remarks</th></td>	
											
							</tr>
							<% x = @ReserveRequest %>
							<tr>
								<td><th><%= x.clubid%></th></td>
								<td><th>$<%= x.amount%></th></td>
								<td><th><%= x.remarks%></th></td>
								</tr>
							
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%end%>
