<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-dollar'></i>
				<!-- span has to be on next line to create that space between the logo and the words -->
				<span>View Change Reserve-limit Request </span></h1>
		</div>
	</div>
</div>
<% if session[:role].include?"smusafinsec" %>
<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box blue-border' style='margin-bottom:0;'>
			<div class='box-header blue-background'>
				<div class='title'>
					View Change Requests 
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-no-padding'>
				<div class='responsive-table'>
					<div class='scrollable-area'>
						<table class='table' style='margin-bottom:0;'>
							<tr>
								<td><th>Club ID</th></td> 
								<td><th>Amount</th></td> 
								<td><th>Remarks</th></td>	
								<td><th>Action</th></td>				
							</tr>
							<% @ReserveRequest.each do|x| %>
							<tr>
								<td><th><%= x.clubid%></th></td>
								<td><th><%= x.amount%></th></td>
								<td><th><%= x.remarks%></th></td>
								<td><th><a href="/reserve_limit/accept?clubid=<%= x.clubid%>" class="btn btn-warning btn-xs"><i class="icon-pencil"></i>Accept</a>
								<a href="/reserve_limit/reject?clubid=<%= x.clubid%>" class="btn btn-warning btn-xs"><i class="icon-pencil"></i>Reject</a></th></td>
							</tr>
							<%end%>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%end%>
