<% if flash[:error] %>
<font color="red"><%= flash[:error]%></font>
<%end%>
<%role = session[:role]%>


<div class='row'>
                            <div class='col-sm-12'>
                                <div class='page-header'>
                                    <h1 class='pull-left'>
                      <i class='icon-file-alt'></i>
                      <span>Other people's Claims</span>
                    </h1>
                                    
                                </div>
                            </div>
                        </div>
<%if role.include? 'clubfinsec'%>                        

<div class='row'>

                            <div class="col-sm-12">
                                <div class="box bordered-box blue-border">
                                    <div class="box-header blue-background">
                                        <div class="title">Club Claims</div>
                                        <div class="actions">
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                        </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                                        </div>
                                    </div>
                                    <div class="box-content box-no-padding">
                                        <div class="responsive-table">
                                            <div class="scrollable-area">
                                                
                                              <table class="table table-striped" style="margin-bottom:0;">
	<tr>
		<th>Claim ID</th>
		<th>Claim By</th>
		<th>Club</th>
		<th>Amount</th>
		<th>Category</th>
		<th>Event</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Status</th>
		<th>Supporting Doc</th>
		<th>Action</th>
		
	</tr>
	<% @normalclaims.each do |c|%>
	<%status = c.status%>
	<%if c.remarks.nil?%>
	<tr>
	<%else%>
	<tr class = 'warning'>
	<%end%>
		<td><%=c.id%></td>
		<td><%= c.userid%></td>
		<td><%= c.clubid%></td>
		<td><%= c.amount%></td>
		<td><%= c.category%></td>
		<td><%= c.event%></td>
		<td><%= c.created_at%></td>
		<td><%= c.updated_at%></td>
		<td><%= c.status%></td>
		<td><a href="<%= c.supportdoc.url%>" class="btn btn-sm btn-primary">Download</td>
		<%if status == 1%>
		<td><a href="/claims/editclaim?id=<%=c.id%>" class="btn btn-sm btn-primary">Edit</td>
		<%if c.remarks.nil?%>
		<td><a href="/claims/submitclaim?id=<%=c.id%>" class="btn btn-sm btn-primary">Submit</td>
		<%else%>
		<td><a href="/claims/resubmitclaim?id=<%=c.id%>" class="btn btn-sm btn-primary">ReSubmit</td>
		<td><a href="#", onclick="viewremark('<%=c.remarks%>')" class="btn btn-sm btn-primary">View Remarks</a></td>
		<%end%>
		<%end%>
	</tr>
	<%end%>

</table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
<%elsif role.include? 'cbdfinsec'%>
<div class='row'>

                            <div class="col-sm-12">
                                <div class="box bordered-box blue-border">
                                    <div class="box-header blue-background">
                                        <div class="title">Club Claims</div>
                                        <div class="actions">
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                        </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                                        </div>
                                    </div>
                                    <div class="box-content box-no-padding">
                                        <div class="responsive-table">
                                            <div class="scrollable-area">
                                                
                                              <table class="table table-striped" style="margin-bottom:0;">
	<tr>
		<th>Claim ID</th>
		<th>Claim By</th>
		<th>Club</th>
		<th>Amount</th>
		<th>Category</th>
		<th>Event</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Status</th>
		<th>Supporting Doc</th>
		<th>Action</th>
		
	</tr>
	<% @normalclaims.each do |c|%>
	<%status = c.status%>
	<%if c.remarks.nil?%>
	<tr>
	<%else%>
	<tr class = 'warning'>
	<%end%>
		<td><%=c.id%></td>
		<td><%= c.userid%></td>
		<td><%= c.clubid%></td>
		<td><%= c.amount%></td>
		<td><%= c.category%></td>
		<td><%= c.event%></td>
		<td><%= c.created_at%></td>
		<td><%= c.updated_at%></td>
		<td><%= c.status%></td>
		<td><a href="<%= c.supportdoc.url%>" class="btn btn-sm btn-primary">Download</td>
		<%if status == 3%>
		<td><a href="/claims/endorseclub?id=<%=c.id%>" class="btn btn-sm btn-primary">Endorse</td>
		<td><a href="/claims/addremark?id=<%=c.id%>&status=1" class="btn btn-sm btn-primary">Reject</td>
		<%elsif status == 4%>
		<td><a href="/claims/endorseclub?id=<%=c.id%>" class="btn btn-sm btn-primary">Endorsed. View form</td>
		<td><a href="/claims/addremark?id=<%=c.id%>&status=1" class="btn btn-sm btn-primary">Reject</td>
		<td><a href="/claims/completeclaim?id=<%=c.id%>" class="btn btn-sm btn-primary">Claim complete</td>
		<%elsif status == 5%>
		<td>Claim completed</td>
		<%end%>
	</tr>
	<%end%>

</table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
          <!-- CBD claims from here               -->
<div class='row'>

                            <div class="col-sm-12">
                                <div class="box bordered-box blue-border">
                                    <div class="box-header blue-background">
                                        <div class="title">CBD Claims</div>
                                        <div class="actions">
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                        </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                                        </div>
                                    </div>
                                    <div class="box-content box-no-padding">
                                        <div class="responsive-table">
                                            <div class="scrollable-area">
                                                
                                              <table class="table table-striped" style="margin-bottom:0;">
	<tr>
		<th>Claim ID</th>
		<th>Claim By</th>
		<th>Club</th>
		<th>Amount</th>
		<th>Category</th>
		<th>Event</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Status</th>
		<th>Supporting Doc</th>
		<th>Action</th>
		
	</tr>
	<% @cbdmcclaims.each do |c|%>
	<%status = c.status%>
	<%if c.remarks.nil?%>
	<tr>
	<%else%>
	<tr class = 'warning'>
	<%end%>
		<td><%=c.id%></td>
		<td><%= c.userid%></td>
		<td><%= c.clubid%></td>
		<td><%= c.amount%></td>
		<td><%= c.category%></td>
		<td><%= c.event%></td>
		<td><%= c.created_at%></td>
		<td><%= c.updated_at%></td>
		<td><%= c.status%></td>
		<td><a href="<%= c.supportdoc.url%>" class="btn btn-sm btn-primary">Download</td>
		<%if status == 7%>
		<td><a href="/claims/editclaim?id=<%=c.id%>" class="btn btn-sm btn-primary">Edit</td>
		<%if c.remarks.nil?%>
		<td><a href="/claims/submitclaim?id=<%=c.id%>" class="btn btn-sm btn-primary">Submit</td>
		<%else%>
		<td><a href="/claims/resubmitclaim?id=<%=c.id%>" class="btn btn-sm btn-primary">ReSubmit</td>
		<td><a href="#", onclick="viewremark('<%=c.remarks%>')" class="btn btn-sm btn-primary">View Remarks</a></td>
		<%end%>
		<%end%>
	</tr>
	<%end%>

</table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

<%elsif role.include? 'president'%>
<div class='row'>

                            <div class="col-sm-12">
                                <div class="box bordered-box blue-border">
                                    <div class="box-header blue-background">
                                        <div class="title">Club Claims</div>
                                        <div class="actions">
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                        </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                                        </div>
                                    </div>
                                    <div class="box-content box-no-padding">
                                        <div class="responsive-table">
                                            <div class="scrollable-area">
                                                
                                              <table class="table table-striped" style="margin-bottom:0;">
	<tr>
		<th>Claim ID</th>
		<th>Claim By</th>
		<th>Club</th>
		<th>Amount</th>
		<th>Category</th>
		<th>Event</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Status</th>
		<th>Supporting Doc</th>
		<th>Action</th>
		
	</tr>
	<% @claims.each do |c|%>
	<%status = c.status%>
	<%if c.remarks.nil?%>
	<tr>
	<%else%>
	<tr class = 'warning'>
	<%end%>
		<td><%=c.id%></td>
		<td><%= c.userid%></td>
		<td><%= c.clubid%></td>
		<td><%= c.amount%></td>
		<td><%= c.category%></td>
		<td><%= c.event%></td>
		<td><%= c.created_at%></td>
		<td><%= c.updated_at%></td>
		<td><%= c.status%></td>
		<td><a href="<%= c.supportdoc.url%>" class="btn btn-sm btn-primary">Download</td>
		<%if status == 2 || status == 8%>
		<td><a href="#", onclick="pres(<%=c.id%>)" class="btn btn-sm btn-primary">Acknowledge</a></td>
		<p id ="pres"> </p>
		<%end%>
	</tr>
	<%end%>

</table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
<%elsif role.include? 'smusafinsec'%>
<div class='row'>

                            <div class="col-sm-12">
                                <div class="box bordered-box blue-border">
                                    <div class="box-header blue-background">
                                        <div class="title">CBD MC Claims</div>
                                        <div class="actions">
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                        </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                                        </div>
                                    </div>
                                    <div class="box-content box-no-padding">
                                        <div class="responsive-table">
                                            <div class="scrollable-area">
                                                
                                              <table class="table table-striped" style="margin-bottom:0;">
	<tr>
		<th>Claim ID</th>
		<th>Claim By</th>
		<th>Club</th>
		<th>Amount</th>
		<th>Category</th>
		<th>Event</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Status</th>
		<th>Supporting Doc</th>
		<th>Action</th>
		
	</tr>
	<% @cbdmcclaims.each do |c|%>
	<%status = c.status%>
	<%if c.remarks.nil?%>
	<tr>
	<%else%>
	<tr class = 'warning'>
	<%end%>
		<td><%=c.id%></td>
		<td><%= c.userid%></td>
		<td><%= c.clubid%></td>
		<td><%= c.amount%></td>
		<td><%= c.category%></td>
		<td><%= c.event%></td>
		<td><%= c.created_at%></td>
		<td><%= c.updated_at%></td>
		<td><%= c.status%></td>
		<td><a href="<%= c.supportdoc.url%>" class="btn btn-sm btn-primary">Download</td>
		<%if status == 9%>
		<td><a href="/claims/endorsecbdmc?id=<%=c.id%>" class="btn btn-sm btn-primary">Endorse</td>
		<td><a href="/claims/addremark?id=<%=c.id%>&status=7" class="btn btn-sm btn-primary">Reject</td>
		<%elsif status == 10%>
		<td><a href="/claims/endorsecbdmc?id=<%=c.id%>" class="btn btn-sm btn-primary">Endorsed. View form</td>
		<td><a href="/claims/addremark?id=<%=c.id%>&status=7" class="btn btn-sm btn-primary">Reject</td>
		<td><a href="/claims/completeclaim?id=<%=c.id%>" class="btn btn-sm btn-primary">Claim complete</td>
		<%elsif status == 11%>
		<td>Claim complete</td>
		<%end%>
	</tr>
	<%end%>

</table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        
                        
<div class='row'>

                            <div class="col-sm-12">
                                <div class="box bordered-box blue-border">
                                    <div class="box-header blue-background">
                                        <div class="title">SMUSA Secretary Claims</div>
                                        <div class="actions">
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                        </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                                        </div>
                                    </div>
                                    <div class="box-content box-no-padding">
                                        <div class="responsive-table">
                                            <div class="scrollable-area">
                                                
                                              <table class="table table-striped" style="margin-bottom:0;">
	<tr>
		<th>Claim ID</th>
		<th>Claim By</th>
		<th>Club</th>
		<th>Amount</th>
		<th>Category</th>
		<th>Event</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Status</th>
		<th>Supporting Doc</th>
		<th>Action</th>
		
	</tr>
	<% @smusasecclaims.each do |c|%>
	<%status = c.status%>
	<%if c.remarks.nil?%>
	<tr>
	<%else%>
	<tr class = 'warning'>
	<%end%>
		<td><%=c.id%></td>
		<td><%= c.userid%></td>
		<td><%= c.clubid%></td>
		<td><%= c.amount%></td>
		<td><%= c.category%></td>
		<td><%= c.event%></td>
		<td><%= c.created_at%></td>
		<td><%= c.updated_at%></td>
		<td><%= c.status%></td>
		<td><a href="<%= c.supportdoc.url%>" class="btn btn-sm btn-primary">Download</td>
		<%if status == 13%>
		<td><a href="/claims/endorsesmusasec?id=<%=c.id%>" class="btn btn-sm btn-primary">Endorse</td>
		<td><a href="/claims/addremark?id=<%=c.id%>&status=12" class="btn btn-sm btn-primary">Reject</td>
		<%elsif status == 14%>
		<td><a href="/claims/endorsesmusasec?id=<%=c.id%>" class="btn btn-sm btn-primary">Endorsed. View form</td>
		<td><a href="/claims/addremark?id=<%=c.id%>&status=12" class="btn btn-sm btn-primary">Reject</td>
		<td><a href="/claims/completeclaim?id=<%=c.id%>" class="btn btn-sm btn-primary">Claim complete</td>
		<%elsif status == 15%>
		<td>Claim complete</td>
		<%end%>
	</tr>
	<%end%>

</table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


<%end%>






<%=javascript_tag do%>
 
function pres(a){
	var x;
	if (confirm("You have acknowleged the claim!")==true){
		window.location = "/claims/submitclaim?id="+a;
	}
	document.getElementById("pres").innerHTML = x;
}
function viewremark(a){
	
		alert(a);
	
}
<%end%>
