<% if flash[:error] %>
<font color="red"><%= flash[:error]%></font>
<%end%>

<div class='row'>
                            <div class='col-sm-12'>
                                <div class='page-header'>
                                    <h1 class='pull-left'>
                      <i class='icon-file-alt'></i>
                      <span>My Claims</span>
                    </h1>
                                    
                                </div>
                            </div>
                        </div>

<div class='row'>

                            <div class="col-sm-12">
                                <div class="box bordered-box blue-border">
                                    <div class="box-header blue-background">
                                        <div class="title">My Claims</div>
                                        <div class="actions">
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                        </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                                        </div>
                                    </div>
                                    <div class="box-content box-no-padding">
                                        <div class="responsive-table">
                                            <div class="scrollable-area">
                                                
                                              <table class="table table-striped" style="margin-bottom:0;">
	<tr>
		<th>Claim ID</th>
		<th>Claim By</th>
		<th>Club</th>
		<th>Amount</th>
		<th>Category</th>
		<th>Event</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Status</th>
		<th>Supporting Doc</th>
		<th>Edit</th>
		<th>Submit</th>
		<th>Delete</th>
	</tr>
	<% @normalclaims.each do |c|%>
	<%status = c.status%>
	<%if c.remarks.nil?%>
	<tr>
	<%else%>
	<tr class = 'warning'>
	<%end%>
		<td><%=c.id%></td>
		<td><%= c.userid%></td>
		<td><%= c.clubid%></td>
		<td><%= c.amount%></td>
		<td><%= c.category%></td>
		<td><%= c.event%></td>
		<td><%= c.created_at%></td>
		<td><%= c.updated_at%></td>
		<td><%= c.status%></td>
		<td><a href="<%= c.supportdoc.url%>" class="btn btn-success btn-xs"><i class="icon-download"></i> Download</a></td>
		<%if status == 0 || status == 12 || status == 6%>
		<td><a href="/claims/editclaim?id=<%=c.id%>&own=true" class="btn btn-warning btn-xs"><i class="icon-pencil"></i> Edit</a></td>
		<%if c.remarks.nil?%>
		<td><a href="/claims/submitclaim?id=<%=c.id%>" class="btn btn-danger btn-xs">Submit</a></td>
		<%else%>
		<td><a href="/claims/resubmitclaim?id=<%=c.id%>" class="btn btn-danger btn-xs">ReSubmit</a><br />
		<a href="#", onclick="viewremark('<%=c.remarks%>')" class="btn btn-success btn-xs"><i class="icon-eye-open"></i> View Remarks</a></td>
		<%end%>
		<td><a href="/claims/deleteclaim?id=<%=c.id%>&own=true" class="btn btn-danger btn-xs"><i class="icon-remove"></i> Delete</a></td>
		<%end%>
	</tr>
	<%end%>

</table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

<%=javascript_tag do%>
 
function pres(a){
	var x;
	if (confirm("You have acknowleged the claim!")==true){
		window.location = "/claims/submitclaim?id="+a;
	}
	document.getElementById("pres").innerHTML = x;
}
function viewremark(a){
	
		alert(a);
	
}
<%end%>
