<!-- <% if flash[:error] %>
<font color="red"><%= flash[:error]%></font>
<%end%> -->
<%statuscode = ['Unsubmitted', 'With Club Finsec', 'With Club Pres', 'With CBD Finsec', 'With OFIN', 'Done', 'Unsubmitted', 'With CBD Finsec', 'With CBD Pres', 'With SMUSA Finsec', 'With OFIN', 'Done', 'Unsubmitted','With SMUSA Pres', 'With SMUSA Finsec', 'With OFIN', 'Done']%>
<div class='row'>
                            <div class='col-sm-12'>
                                <div class='page-header'>
                                    <h1 class='pull-left'>
                      <i class='icon-file-alt'></i>
                      <span>My Claims</span>
                    </h1>
                                    
                                </div>
                            </div>
                        </div>

<div class='row'>

                            <div class="col-sm-12">
                                <div class="box bordered-box blue-border">
                                    <div class="box-header blue-background">
                                        <div class="title">My Claims</div>
                                        <div class="actions">
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                        </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                                        </div>
                                    </div>
                                    <div class="box-content box-no-padding">
                                        <div class="responsive-table">
                                            <div class="scrollable-area">
                                                
                                              <table class="data-table table table-striped" style="margin-bottom:0;">
	<thead>
		<th>Claim ID</th>
		<th>Claim By</th>
		
		<th>Amount</th>
		
		<th>Event</th>
		
		<th>Details</th>
		<th>Status</th>
		<th>Supporting Doc</th>
		<th>Actions</th>
		
	</thead>
	<tbody>
	<% @normalclaims.each do |c|%>
	<%status = c.status%>
	<%if c.remarks.nil?%>
	<tr>
	<%else%>
	<tr class = 'warning'>
	<%end%>
		<td><%=c.id%></td>
		<td><%= c.userid%></td>
		
		<td><%= c.amount%></td>
		
		<td><%= c.event%></td>
		
		<td><div class="bs-example-tooltips">
				<button type="button" class="btn btn-warning btn-xs" data-container="body" data-toggle="popover-with-html" data-placement="top" data-content="<b>Claim Category:</b><br /><%= c.category%><br /><b>Expense:</b><br /><%= c.expense%><br /><b>Created:</b><br /><%= c.created_at%><br /><b>Last Updated:</b><br /><%= c.updated_at%>" data-original-title="" title="Details (<%= c.clubid%>)">Details</button>
			</div></td>
		<td><%= statuscode[c.status]%></td>
		<td><a href="<%= c.supportdoc.url%>" class="btn btn-success btn-xs"><i class="icon-download"></i> Download</a></td>
		<td>
		<%if status == 0 || status == 12 || status == 6%>
		<a href="/claims/editclaim?id=<%=c.id%>&own=true" class="btn btn-warning btn-xs"><i class="icon-pencil"></i> Edit</a>
		<%if c.remarks.nil?%>
		<a href="/claims/submitclaim?id=<%=c.id%>" class="btn btn-danger btn-xs">Submit</a>
		<%else%>
		<a href="/claims/resubmitclaim?id=<%=c.id%>" class="btn btn-danger btn-xs">ReSubmit</a>
		<a href="#", onclick="viewremark('<%=c.remarks%>')" class="btn btn-success btn-xs"><i class="icon-eye-open"></i> View Remarks</a>
		<%end%>
		
		<a href="/claims/deleteclaim?id=<%=c.id%>&own=true" class="btn btn-danger btn-xs"><i class="icon-remove"></i> Delete</a>
		<%end%>
		</td>
	</tr>
	<%end%>
</tbody>
</table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

<%=javascript_tag do%>
 
function pres(a){
	var x;
	if (confirm("You have acknowleged the claim!")==true){
		window.location = "/claims/submitclaim?id="+a;
	}
	document.getElementById("pres").innerHTML = x;
}
function viewremark(a){
	
		alert(a);
	
}
<%end%>
<script type="text/javascript">
	$('[data-toggle="popover-with-html"]').popover({ html : true });
	
	$('body').on('click', function (e) {
	    $('[data-toggle="popover"]').each(function () {
	        //the 'is' for buttons that trigger popups
	        //the 'has' for icons within a button that triggers a popup
	        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
	            $(this).popover('hide');
	        }
	    });
	});
</script>