<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-dashboard'></i><span> Dashboard</span></h1>
			<div class='pull-right'>
				<ul class='breadcrumb'>
					<li>
						<code>
							<%= session[:userid]%>
						</code>
					</li>
					<li class='separator'>
						<i class='icon-angle-right'></i>
					</li>
					<li>
						<code>
							<%= session[:club].upcase %>
						</code>
					</li>
					<li class='separator'>
						<i class='icon-angle-right'></i>
					</li>
					<li>
						<code>
							<%= session[:role].gsub(',', ', ') %>
						</code>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class='alert alert-info alert-dismissable'>
	<a class='close' data-dismiss='alert' href='#'>&times;</a>
	Welcome to
	<strong>AIS</strong>
	- We are still working on the project to serve you better. <span class="pull-right"><i class='icon-wrench'></i> ~ Chocolicious, IS480'2014  Term 1</span>
</div>
<% role = session[:role]%>

<%if role.include? 'clubfinsec'%>

	<div class='col-sm-12 col-md-6'>
		<div class='box'>
			<div class='box-header'>
				<div class='title'>
					<div class='icon-inbox'></div>
					Pending your approval
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-6'>
					<div class='box-content box-statistic'>
						<h3 class='title text-error'><%= @normalclaims.size%></h3>
						<small>Claims</small>
						<div class='text-error icon-file-text align-right'></div>
					</div>
					<div class='box-content box-statistic'>
						<h3 class='title text-warning'><%= @normaldeposits.size%></h3>
						<small>Deposits</small>
						<div class='text-warning icon-book align-right'></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<%end%>
<%if role.include? 'cbdfinsec'%>

	<div class='col-sm-12 col-md-6'>
		<div class='box'>
			<div class='box-header'>
				<div class='title'>
					<div class='icon-inbox'></div>
					Pending your approval
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-6'>
					<div class='box-content box-statistic'>
						<h3 class='title text-error'><%= @normalclaims.size%></h3>
						<small>Claims</small>
						<div class='text-error icon-file-text align-right'></div>
					</div>
					<div class='box-content box-statistic'>
						<h3 class='title text-warning'><%= @cbdmcclaims.size%></h3>
						<small>CBd MC Claims</small>
						<div class='text-warning icon-copy align-right'></div>
					</div>
					<div class='box-content box-statistic'>
						<h3 class='title text-info'><%= @normaldeposits.size%></h3>
						<small>Deposits</small>
						<div class='text-info icon-book align-right'></div>
					</div>
					<div class='box-content box-statistic'>
						<h3 class='title text-muted'><%= @cbdmcdeposits.size%></h3>
						<small>CBd MC Deposits</small>
						<div class='text-muted icon-briefcase align-right'></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<%end%>
<%if role.include? 'president'%>

	<div class='col-sm-12 col-md-6'>
		<div class='box'>
			<div class='box-header'>
				<div class='title'>
					<div class='icon-inbox'></div>
					Pending your approval
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-6'>
					<div class='box-content box-statistic'>
						<h3 class='title text-error'><%= @claims.size%></h3>
						<small>Claims</small>
						<div class='text-error icon-file-text align-right'></div>
					</div>

					<div class='box-content box-statistic'>
						<h3 class='title text-warning'><%= @deposits.size%></h3>
						<small>Deposits</small>
						<div class='text-warning icon-book align-right'></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<%end%>
<%if role.include? 'smusafinsec'%>

	<div class='col-sm-12 col-md-6'>
		<div class='box'>
			<div class='box-header'>
				<div class='title'>
					<div class='icon-inbox'></div>
					Pending your approval
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-6'>
					<div class='box-content box-statistic'>
						<h3 class='title text-error'><%= @smusasecclaims.size%></h3>
						<small>SMUSA Sec Claims</small>
						<div class='text-error icon-file-text align-right'></div>
					</div>
					<div class='box-content box-statistic'>
						<h3 class='title text-warning'><%= @cbdmcclaims.size%></h3>
						<small>CBd MC Claims</small>
						<div class='text-warning icon-copy align-right'></div>
					</div>
					<div class='box-content box-statistic'>
						<h3 class='title text-info'><%= @smusasecdeposits.size%></h3>
						<small>SMUSA Sec Deposits</small>
						<div class='text-info icon-book align-right'></div>
					</div>
					<div class='box-content box-statistic'>
						<h3 class='title text-muted'><%= @cbdmcdeposits.size%></h3>
						<small>CBd MC Deposits</small>
						<div class='text-muted icon-briefcase align-right'></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<%end%>
