<!-- THIS PAGE SHOULD NOT BE USED. USE DEVISE'S LOGIN AND AUTHENTICATION -->

<%= form_tag("/admin/loginProcess/", :method => "post") do %>
<table align="center">
	<tr>
		<td>Username: </td><td><%= text_field_tag(:userid) %></td>
	</tr>
	<tr>
		<td>Password:</td><td><%= password_field_tag(:password) %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= submit_tag("Login", :class=>"btn") %></td>
	</tr>
</table>
<%end%>
<% if !flash[:error].nil? %>
<div class="alert alert-error">
	<strong><%= flash[:error] %></strong>
</div>
<%end%>