<% if session[:role]=="clubfinsec"%>
<h2>Registered Users</h2>

<%= form_tag("/admin/delete/", :method => "post") do %>
<table class = "table table-bordered table-condensed", id='sf'>
	<tr>
		<th>Name</th>
		<th>Role</th>
		<th><%= submit_tag("Delete", :class=>"btn") %></th>
	</tr>

	<% @userList.each do |user| %>
	<tr>
		<td><%= user.userid %></td>
		<td><%= user.role %></td>
		<td> <%if session[:userid]!=user.userid%><%= check_box_tag("toDelete[]",user.userid)%>
		<%else%><font color=red><i>You are not able to delete yourself</i><%end%> </td>
	</tr>
	<%end%>
	<%end%>
</table>

<h2>Add Member</h2>
<!-- <form>
Search: <%= text_field_tag(:userid) %><%= submit_tag("Search", :class=>"btn") %>
</form> -->
<%= form_tag("/admin/add/", :method => "post") do %>
Search for:<%= select_tag(:userid, options_from_collection_for_select(@users, "userid", "userid"))%>
Role:<%= select_tag(:role, "<option>normal</option><option>clubfinsec</option><option>president</option>".html_safe) %><%= submit_tag("Add", :class=>"btn") %>
<%end%>
<% elsif session[:role].nil? %>
<p>
	You do not have a club yet.
</p>
<table>
	<%= form_tag("/admin/requestClub", :method => "post") do %>
	<th></th>Request for Membership: </th></th><%= select_tag(:cName, options_from_collection_for_select(@allClubs, "clubid", "clubname"), prompt: "---Please select---")%>
</table>
<br>
<%= submit_tag("Register", :class=>"btn") %>

<%end%>



<p>
	You have requested to join membership in the following club(s):
</p>
<p>User ID: <%=session[:userid]%></p>
<table>
	
	<th>Club name</th>
		<% @clubs.each do |name|
		clubtable = Club.find_by(clubid:name.clubid)%>
		<tr><td><%= clubtable.clubname %></td></tr>
		<%end%>
		
	
</table>
<%end%>

