<!DOCTYPE html>
<html>

	<head>
		<title>SMUSA AIS</title>
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<%= favicon_link_tag(source='/favicon.ico')%>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

	</head>

	<body class="contrast-background contrast-sea-blue login">
		<!-- your content goes here -->
		<div class='middle-container'>
			<div class='middle-row'>
				<div class='middle-wrapper'>
					<div class='login-container-header'>
						<div class='container'>
							<div class='row'>
								<div class='col-sm-12'>
									<div class='text-center'>
										<h1 class="" style="color: #fff; font-size:32px">Resend unlock instructions</h1>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class='login-container'>
						<div class='container'>
							<div class='row'>
								<div class='col-sm-4 col-sm-offset-4'>
									<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
									<%= devise_error_messages! %>

									<div class='form-group'>
										<div class='controls with-icon-over-input'>
											<%= f.email_field :email, autofocus: true, :placeholder => 'E-mail', :class => 'form-control' %>
										</div>
									</div>

									<div>
										<%= f.submit "Resend unlock instructions", :class => 'btn btn-block btn-lg btn-success'  %>
									</div>
									<% end %>
									<div class='text-center'>
										<hr class='hr-normal'>
										<%= render "devise/shared/links" %>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</body>

</html>