<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-list-alt'></i> <span>Budget Summary</span></h1>
		</div>
	</div>
</div>

<div id='orders'>
	<div class='row'>
		<div class='col-sm-6'>
			<div class='row' id='list'>
				<div class='col-sm-12'>
					<div class='box'>
						<div class='box-content box-no-padding'>
							<div class='responsive-table'>
								<div class='scrollable-area'>
									<table class="data-table table table-striped" style="margin-bottom:0;">
										<thead>
											<th>Select Year to view Budget</th>
										</thead>
										<tbody>
											<%@past.each do |p|%>
											<tr>
												<td><a href='/budgets/fullsummary?year=<%= p.year%>&semester=<%= p.semester%>'><%= p.year%> semester <%= p.semester%></a></td>
											</tr>
											<%end%>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<%if @test%>
		<div class='col-sm-6'>
			<div class='box bordered-box orange-border' style='margin-bottom:0;'>
				<div class='box-header orange-background'>
					<div class='title'>
						<i class='icon-dollar'></i>
						Funds Request Summary
					</div>
					<div class='actions'>
						<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
					</div>
				</div>
				<div class="box-content box-double-padding">
					<div class='col-sm-12'>
						<p>
							<b>Total request from SAC: </b><%= @totalsac%>
						</p>
						<p>
							<b>Total request from reserves: </b><%= @totalreserves%>
						</p>
					</div>
				</div>
			</div>
			<br />
			
			
			<div class='box bordered-box orange-border' style='margin-bottom:0;'>
				<div class='box-header orange-background'>
					<div class='title'>
						<i class='icon-dollar'></i>
						Allocation
					</div>
					<div class='actions'>
						<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
					</div>
				</div>
				<div class="box-content box-double-padding">
					<div class="responsive-table">
						<div class="scrollable-area">
							<table class="table table-striped" style="margin-bottom:0;">
								<tr>
									<td><a href="/chief/allocate?year=<%=@year%>&semester=<%=@semester%>" class="btn btn-success btn-xs"><i class="icon-download"></i> Allocate</a></td>
									<td><a href="/chief/pullback" class="btn btn-success btn-xs"><i class="icon-download"></i> Pullback</a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<br />
			
			
			
			<div class='box bordered-box orange-border' style='margin-bottom:0;'>
				<div class='box-header orange-background'>
					<div class='title'>
						<i class='icon-list-alt'></i>
						CBd Fund Request Summary
					</div>
					<div class='actions'>
						<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
					</div>
				</div>
				<div class="box-content box-double-padding">
					<div class="responsive-table">
						<div class="scrollable-area">
							<table class="table table-striped" style="margin-bottom:0;">
								<tr>
									<th>CBD</th><th>Total Request from SAC</th><th>Total Request from Reserves</th>
								</tr>
								<%@cbdtotal.each do |c|%>
								<tr>
									<td><a href='#<%= c["name"]%>'><%= c["name"]%></a></td>
									<td><%= c["totalsac"]%></td>
									<td><%= c["totalreserves"]%></td>
								</tr>
								<%end%>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%if session[:role].include? 'smusafinsec'%>
<hr />
<div class='row'>
	<div class='col-sm-12 box' style='margin-bottom: 0'>
		
			<div class="box bordered-red red-border">
				<div class="box-header red-background">
					<div class="title"><i class="icon-dollar"></i>
						SMUSA Departments
					</div>
					<div class="actions">
						<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
					</div>
				</div>
				<div class="box-content box-no-padding">
					<div class="responsive-table">
						<div class="scrollable-area">
							<table class="table table-striped" style="margin-bottom:0;">
								<tr>
									<th>Department</th><th>Total Request from SAC</th>
								</tr>
								<%@departmenttotal.each do |c|%>
								<tr>
									<td><a href='/budgets/reviewmain?clubid=<%= c["name"]%>&year=<%= @year%>&semester=<%= @semester%>'><%= c["name"]%></a></td>
									<td><%= c["totalsac"]%></td>

								</tr>
								<%end%>
							</table>
						</div>
					</div>
				</div>
			</div>
		
	</div>
</div>
<%end%>

<%@superhash.each do |key, value|%>
<hr />
<div class='row'>
	<div class='col-sm-12 box' style='margin-bottom: 0'>

			<div class="box bordered-box green-border">
				<div class="box-header green-background">
					<div class="title" ><i class="icon-dollar"></i>
						<a id=<%= key%>><font color="white"><%= key%></font></a>
					</div>
					<div class="actions">
						<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
					</div>
				</div>
				<div class="box-content box-no-padding">
					<div class="responsive-table">
						<div class="scrollable-area">
							<table class="table table-striped" style="margin-bottom:0;">
								<!-- <h3><a id=<%= key%>><%= key%></a></h3> -->
								<!-- <table class='table table-bordered'> -->
								<tr>
									<th>Club</th><th>Total Request from SAC</th><th>Total Request from Reserves</th><th>Reserves Amount</th><th>Justification</th>
								</tr>
								<%value.each do |c|%>
								<tr>
									<td><a href='/budgets/reviewmain?clubid=<%= c[0]%>&year=<%= @year%>&semester=<%= @semester%>'><%= c[0]%></a></td>
									<td><%= c[1]%></td>
									<td><%= c[2]%></td>
									<td><%= c[3]%></td>
									<td><%= c[4]%></td>
								</tr>
								<%end%>
							</table>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
<%end%>

<%end%>
