<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-list-alt'></i><span>Manage breakdown for <%= @b.event%></span></h1>
		</div>
	</div>
</div>
<% role = session[:role]%>
<%if (role.include? 'smusafinsec') %>
<div class='row'>
	<div class='col-sm-12 box' style='margin-bottom: 0'>
		<div class="box bordered-red red-border">
			<div class="box-header red-background">
				<div class="title">
					<i class="icon-dollar"></i>
					Expenses
				</div>
				<div class="actions">
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<div class="responsive-table">
					<div class="scrollable-area">
						<table class="data-table table table-striped" style="margin-bottom:0;">
							<thead>
								<tr>
									<th>Item</th>
									<th>Request SAC</th>
									<th>Request Reserves</th>
									<th>Unit Cost</th>
									<th>Quantity</th>
									<th>Justification</th>
									<th>Quotation</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<%@expenditures.each do |e|%>
								<tr>
									<td><%= e.item%></td>
									<td>$<%= e.requestsac%></td>
									<td>$<%= e.requestreserves%></td>
									<td>$<%= e.unitcost%></td>
									<td><%= e.quantity%></td>
									<td><%= e.justification%></td>
									<td><%= e.quotation%></td>
									<td><a href='/budgets/deleteexpenditure?id=<%= e.id%>' class="btn btn-danger btn-xs"><i class="icon-remove"></i></a></td>
								</tr>
								<%end%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<a class='btn btn-info btn-lg blue-background' data-toggle='modal' href='#modal-newexp' role='button'>Add new Expense</a>
<div class='modal fade' id='modal-newexp' tabindex='-1'>
	<div class='modal-dialog'>
		<%=form_for @newexpenditure, :url => {:action => 'addexpenditure'} do |f|%>
		<div class='modal-content'>
			<div class='modal-header'>
				<button aria-hidden='true' class='close' data-dismiss='modal' type='button'>
					×
				</button>
				<h4 class='modal-title' id='myModalLabel'>Add New Expenditure</h4>
			</div>

			<div class='modal-body'>
				<p>
					<small> An Expense is an expenditure that you are expecting to be spending on for the event stated. </small>
				</p>
				<%= f.hidden_field :budget_id, :value => @id%>
				<div class='form-group'>
					<label>Item</label>
					<%= f.text_field :item, :class=>"form-control", :required => true%>
				</div>
				<div class='form-group'>
					<label>Amount required from SAC</label>
					<%= f.number_field :requestsac, :step => 0.01, :min => 0, :max => 99999999, :class=>"form-control" %>
				</div>

				<%if session[:role] != 'smusasec'%>
				<div class='form-group'>
					<label>Amount to request from Reserves</label>
					<%= f.number_field :requestreserves, :step => 0.01, :min => 0, :max => 99999999, :class=>"form-control" %>
				</div>
				<%end%>
				<div class="form-group">
					<label>Unit cost</label>
					<%= f.number_field :unitcost, :step => 0.01, :min => 0, :max => 99999999, :class=>"form-control" %>
				</div>
				<div class="form-group">
					<label>Quantity of item</label>
					<%= f.number_field :quantity,:min => 0, :max=> 99999999, :class=>"form-control" %>
				</div>
				<div class='form-group'>
					<label>Justification</label>
					<%= f.text_area :justification, :class=>"autosize form-control", :maxlength => 65536 %>
				</div>
				<div class="form-group">
					<label>Quotation</label>
					<%= f.text_field :quotation, :class=>"form-control" %>
				</div>
				<div class='modal-footer'>
					<button class='btn btn-default' data-dismiss='modal' type='button'>
						Close
					</button>
					<%= submit_tag 'Add Item', :class => 'btn btn-primary'%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
<hr />
<!-- <div class='row'>
	<div class='col-sm-12 box' style='margin-bottom: 0'>
		<div class="box bordered-red red-border">
			<div class="box-header red-background">
				<div class="title">
					<i class="icon-plus"></i><i class="icon-dollar"></i>
					Add Expenses
				</div>
				<div class="actions">
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<%=form_for @newexpenditure, :url => {:action => 'addexpenditure'} do |f|%>
				<div class="responsive-table">
					<div class="scrollable-area">
						<table class="table table-striped" style="margin-bottom:0;">

							<tr>
								<th>Item</th>
								<th>Request SAC</th>
								<%if session[:role] != 'smusasec'%>
								<th>Request Reserves</th>
								<%end%>
								<th>Unit Cost</th>
								<th>Quantity</th>
								<th>Justification</th>
								<th>Quotation</th>
							</tr>
							<tr>
								<td><%= f.text_field :item%></td>
								<td><%= f.number_field :requestsac, :step => 0.01, :min => 0, :max => 99999999%></td>
								<%if session[:role] != 'smusasec'%>
								<td><%= f.number_field :requestreserves, :step => 0.01, :min => 0, :max => 99999999%></td>
								<%end%>
								<td><%= f.number_field :unitcost, :step => 0.01, :min => 0, :max => 99999999%></td>
								<td><%= f.number_field :quantity%></td>
								<td><%= f.text_field :justification%></td>
								<td><%= f.text_field :quotation%></td>
							</tr>
						</table>
						<%= f.hidden_field :budget_id, :value => @id%>
						<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
							<div class='text-center'>
								<%= f.submit 'Add Item', :class => 'btn btn-primary btn-lg red-background'%>
							</div>
						</div>

						<br />
					</div>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div> -->

<div class='row'>
	<div class='col-sm-12 box' style='margin-bottom: 0'>
		<div class="box bordered-orange orange-border">
			<div class="box-header orange-background">
				<div class="title">
					<i class="icon-dollar"></i>
					Income
				</div>
				<div class="actions">
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<div class="responsive-table">
					<div class="scrollable-area">
						<table class="data-table table table-striped" style="margin-bottom:0;">
							<thead>
								<tr>
									<th>Item</th>
									<th>Income</th>
									<th>Breakdown of income</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<%@incomes.each do |i|%>
								<tr>
									<td><%= i.item%></td>
									<td>$<%= i.income%></td>
									<td><%= i.incomebreakdown%></td>
									<td><a href='/budgets/deleteincome?id=<%= i.id%>' class="btn btn-danger btn-xs"><i class="icon-remove"></i></a></td>
								</tr>
								<%end%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<a class='btn btn-info btn-lg blue-background' data-toggle='modal' href='#modal-newincome' role='button'>Add new Income</a>
<div class='modal fade' id='modal-newincome' tabindex='-1'>
	<div class='modal-dialog'>
		<%=form_for @newincome, :url => {:action => 'addincome'} do |f| %>
		<div class='modal-content'>
			<div class='modal-header'>
				<button aria-hidden='true' class='close' data-dismiss='modal' type='button'>
					×
				</button>
				<h4 class='modal-title' id='myModalLabel'>Add New Source of Income</h4>
			</div>

			<div class='modal-body'>
				<p>
					<small> Income is the expected source of income for the event stated. </small>
				</p>
				<%= f.hidden_field :budget_id, :value => @id%>
				<div class='form-group'>
					<label>Item</label>
					<%= f.text_field :item, :class=>"form-control", :required => true%>
				</div>
				<div class='form-group'>
					<label>Expected amount to come from this source</label>
					<%= f.number_field :income, :step => 0.01, :min => 0, :max=> 99999999,:class=>"form-control"%>
				</div>
				<div class='form-group'>
					<label>Income breakdown</label>
					<%= f.text_area :incomebreakdown, :class=>"autosize form-control", :maxlength => 255 %>
				</div>
				<div class='modal-footer'>
					<button class='btn btn-default' data-dismiss='modal' type='button'>
						Close
					</button>
					<%= submit_tag 'Add Income Source', :class => 'btn btn-primary'%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
<hr />
<!-- <div class='row'>
	<div class='col-sm-12 box' style='margin-bottom: 0'>
		<div class="box bordered-orange orange-border">
			<div class="box-header orange-background">
				<div class="title">
					<i class="icon-plus"></i><i class="icon-dollar"></i>
					Add Income
				</div>
				<div class="actions">
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<%=form_for @newincome, :url => {:action => 'addincome'} do |f| %>
				<div class="responsive-table">
					<div class="scrollable-area">
						<table class="table table-striped" style="margin-bottom:0;">

							<tr>
								<th>Item</th>
								<th>Income</th>
								<th>Breakdown of income</th>
							</tr>
							<tr>
								<td><%= f.text_field :item%></td>
								<td><%= f.number_field :income, :step => 0.01%></td>
								<td><%= f.text_field :incomebreakdown%></td>
							</tr>
						</table>

						<%= f.hidden_field :budget_id, :value => @id%>
						<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
							<div class='text-center'>
								<%= f.submit "Add item", :class => 'btn btn-primary btn-lg orange-background'%>
							</div>
						</div>

						<br />
					</div>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div> -->
<a href='/budgets/reviewmain' class="btn btn-success btn-xs"><i class="icon-backward"></i> To main</a>

<%end%>
