<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-barcode'></i>
				<!-- span has to be on next line to create that space between the logo and the words -->
				<span>View Sent E-Receipt </span></h1>
		</div>
	</div>
</div>
<% role = session[:role]%>
<div class='row'>

	<div class="col-sm-12">
		<div class="box bordered-box blue-border">
			<div class="box-header blue-background">
				<div class="title">
					View E-receipts
				</div>
				<div class="actions">

					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<div class="responsive-table">
					<div class="scrollable-area">

						<table class="data-table table table-striped" style="margin-bottom:0;">
							<thead>
								<th>Receipt No.</th>
								<th>Description</th>
								<th>Receipient Name</th>
								<th>Receipient Email</th>
								<th>Received Amount</th>
								<th>Received Date</th>
								<th>Issuer</th>	

							</thead>
							<tbody>
							<% @receipt.each do|x| %>
							<tr>
								<td>SA-<%= x.id%></td>
								<td><%= x.description%></td>
								<td><%= x.payeename%></td> 
								<td><%= x.payeemail%></td>
								<td><%= x.amount%></td>
								<td><%= x.created_at.to_date%></td>
								<td><%= x.issuerid%></td>
							<%end%>
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


