<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-key'></i>
				<!-- span has to be on next line to create that space between the logo and the words -->
				<span>Forgot your password?</span></h1>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box blue-border'>
			<div class='box-header blue-background'>
				<div class='title'>
					<i class='icon-key'></i>
					Request for password reset
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-double-padding'>
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<%= devise_error_messages! %>

				<div class='form-group'>
					<label>Enter email</label>
					<%= f.email_field :email, autofocus: true, :class => 'form-control' %>
				</div>
				<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
					<div class='text-center'>
						<%= f.submit "Send me reset password instructions", :class => 'btn btn-primary btn-lg btn-success'  %>
					</div>
				</div>
				<% end %>
				<div class='text-center'>
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>
	</div>
</div>
