
<%= form_for @rejectdeposit, :url => { :action => "confirmrejectdeposit" }, :method => :POST  do |f|  %>
<%= f.hidden_field(:id, :value => @rejectdeposit.id)%>
<div>
	<b>You are rejecting deposit submmited by <u><%= @rejectdeposit.userid %></u> from <u><%= @rejectdeposit.clubid %></u> with amount <u><%= @rejectdeposit.amount %></u>.</b>
</div>
<div>
	Please add remark for the rejection:
</div>
<%= f.hidden_field(:status, :value => @status)%>
<%= f.text_area :remarks, size: "100 x 5" %><br>
<%= f.submit("Confirm")%>
<%end%>
