<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-edit'></i><span> Edit Deposit</span></h1>
		</div>
	</div>
</div>

<%if @own=='true'%>
<div class='row'>
	<div class='col-sm-12 col-lg-12'>
		<div class='box bordered-box'>
			<div class='box-content box-double-padding'>
				<%= form_for @deposit, :url => { :action => "editown" }, :method => :POST, :html => { :multipart => true }  do |f|  %>
				<fieldset>
					<div class='col-sm-4'>
						<div class='lead'>
							<i class='icon-file-alt text-contrast'></i>
							Notes On Editing Deposit
						</div>
						<small class='text-muted'> Values preloaded into input fields are from the selected deposit. Do check with your receipts if the amount is correct before you make any edits. </small>
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<h2>Application Information</h2>
						<div class='form-group'>
							<div class='controls'>
								<%= f.hidden_field(:id, :value => @deposit.id)%>
								<label>Enter amount</label>
								<br />
								<%= f.number_field(:amount, :step => 0.01, :min => 0,:max=>99999999, :class=>"form-control",:required => true) %>
							</div>
							<div class='controls'>
								<label>Enter purpose</label>
								<br />
								<%= f.text_area :purpose, :class=>"form-control",:required => true%>
							</div>
						</div>
					</div>
					<hr />
					<div class='col-sm-4'>
						
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<h2>Deposit Information</h2>
						<div class='form-group'>
							<div class='controls'>
								<label>Enter date</label>
								<br />
								<div class="input-group">
								<%= f.date_field(:date, :class=>"form-control",:required => true)%>
								<span class='input-group-addon' id='daterange2'>
                            <i class='icon-calendar'></i>
                          </span>
                          </div>
							</div>
							<div class='controls'>
								<label>Enter receipt number</label>
								<br />
								<%= f.text_field :receipts, :class=>"form-control",:required => true%>
							</div>
						</div>
						<div class='form-group'>
							<label>Attach Receipt*</label>
							<br />
							<%= f.file_field(:supportdoc)%>

							
						</div>
					</div>
					<hr />
					<div class='col-sm-4'>
						<small class='text-muted'> Wrong entry of donor information can lead to rejection of deposits. After editing the fields, check to make sure all fields are correct. </small>
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<h2>Donor Information</h2>
						<div class='form-group'>
							<div class='controls'>
								<label>Enter donor's name</label>
								<br />
								<%= f.text_field :donorname, :class=>"form-control"%>
							</div>
							<div class='controls'>
								<label>Enter donor's address</label>
								<br />
								<%= f.text_field :donoradd, :class=>"form-control"%>
							</div>
							<div class='controls'>
								<label>Enter donor's IC</label>
								<br />
								<%= f.text_field :donoric, :class=>"form-control"%>
							</div>
						</div>
					</div>
				</fieldset>
				<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
					<div class='text-right'>
						<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
						<i class="icon-save"></i> Save
						<% end %>
					</div>
				</div>
			</div>
			<%end%>
		</div>
	</div>
</div>
</div>
</div>
</div>

<%else%>
<div class='row'>
	<div class='col-sm-12 col-lg-12'>
		<div class='box bordered-box'>
			<div class='box-content box-double-padding'>
				<%= form_for @deposit, :url => { :action => "edit" }, :method => :POST, :html => { :multipart => true }  do |f|  %>
				<fieldset>
					<div class='col-sm-4'>
						<div class='lead'>
							<i class='icon-file-alt text-contrast'></i>
							Notes On Editing Deposit
						</div>
						<small class='text-muted'> Values preloaded into input fields are from the selected deposit. Do check with your receipts if the amount is correct before you make any edits. </small>
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<h2>Application Information</h2>
						<div class='form-group'>
							<div class='controls'>
								<%= f.hidden_field(:id, :value => @deposit.id)%>
								<label>Enter amount</label>
								<br />
								<%= f.number_field(:amount, :step => 0.01, :min => 0, :max => 99999999, :class=>"form-control",:required => true) %>
							</div>
							<div class='controls'>
								<label>Enter purpose</label>
								<br />
								<%= f.text_area :purpose, :class=>"form-control",:required => true%>
							</div>
						</div>
					</div>
					<hr />
					<div class='col-sm-4'>
						
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<h2>Deposit Information</h2>
						<div class='form-group'>
							<div class='controls'>
								<label>Enter date</label>
								<br />
								<div class="input-group">
								<%= f.date_field(:date, :class=>"form-control",:required => true)%>
								<span class='input-group-addon' id='daterange2'>
                            <i class='icon-calendar'></i>
                          </span>
                          </div>
							</div>
							<div class='controls'>
								<label>Enter receipt number</label>
								<br />
								<%= f.text_field :receipts, :class=>"form-control",:required => true%>
							</div>
						</div>
					</div>
					<hr />
					<div class='col-sm-4'>
						<small class='text-muted'> Wrong entry of donor information can lead to rejection of deposits. After editing the fields, check to make sure all fields are correct. </small>
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<h2>Donor Information</h2>
						<div class='form-group'>
							<div class='controls'>
								<label>Enter donor's name</label>
								<br />
								<%= f.text_field :donorname, :class=>"form-control"%>
							</div>
							<div class='controls'>
								<label>Enter donor's address</label>
								<br />
								<%= f.text_field :donoradd, :class=>"form-control"%>
							</div>
							<div class='controls'>
								<label>Enter donor's IC</label>
								<br />
								<%= f.text_field :donoric, :class=>"form-control"%>
							</div>
						</div>
					</div>
				</fieldset>
				<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
					<div class='text-right'>
						<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
						<i class="icon-save"></i> Save
						<% end %>
					</div>
				</div>
			</div>
			<%end%>
		</div>
	</div>
</div>

<%end%>

