<!-- <% if flash[:error] %>
<font color="red"><%= flash[:error]%></font>
<%end%> -->
<% statuscode = ['Unsubmitted', 'With Club Finsec', 'With Club Pres', 'With CBD Finsec', 'With OFIN', 'Done', 'Unsubmitted', 'With CBD Finsec', 'With CBD Pres', 'With SMUSA Finsec', 'With OFIN', 'Done', 'Unsubmitted', 'With SMUSA Pres','With SMUSA Finsec', 'With OFIN', 'Done', 'With OSL', 'With CBD Finsec', 'With OFIN', 'With OSL', 'With SMUSA Finsec', 'With OFIN', 'With OSL', 'With SMUSA Finsec', 'With OFIN', 'With OSL AD', 'With OSL Director', 'With Dean of Students']%>

<div class='row'>
                            <div class='col-sm-12'>
                                <div class='page-header'>
                                    <h1 class='pull-left'>
                      <i class='icon-file-alt'></i>
                      <span>My Payments</span>
                    </h1>
                                    
                                </div>
                            </div>
                        </div>

<div class='row'>

                            <div class="col-sm-12">
                                <div class="box bordered-box blue-border">
                                    <div class="box-header blue-background">
                                        <div class="title">My Payments</div>
                                        <div class="actions">
                                            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                        </a>

                                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                                        </div>
                                    </div>
                                    <div class="box-content box-no-padding">
                                        <div class="responsive-table">
                                            <div class="scrollable-area">
                                                
                                              <table class="data-table table table-striped" style="margin-bottom:0;">
	<thead>
		<th>ID</th>
		<th>Pay To</th>
		
		<th>Amount</th>
		
		<th>Event</th>
		
		<th>Date</th>
		<th>Status</th>
		<th>Details</th>
		<th>Actions</th>
		
	</thead>
	<tbody>
	<% @normalpayments.each do |c|%>
	<%status = c.status%>
	<%if c.remark.nil?%>
	<tr>
	<%else%>
	<tr class = 'warning'>
	<%end%>
		<td><%=c.id%></td>
		<td><%= c.vendorpayeename%></td>
		
		<td>$<%= c.amount%></td>
		
		<td><%= c.event%></td>
		<td><%= c.created_at%></td>
		<td><%= statuscode[c.status]%></td>
		<td>
			<button type="button" class="btn btn-warning btn-xs bs-example-tooltips" data-container="body" data-toggle="popover-with-html" data-placement="top" data-content="<b>Item</b><br /><%= c.item%><br /><b>Event</b><br /><%= c.event%><br /><b>payment Category:</b><br /><%= c.category%><br /><b>Expense:</b><br /><%= c.expense%><br /><b>Created:</b><br /><%= c.created_at%><br /><b>Last Updated:</b><br /><%= c.updated_at%>" data-original-title="" title="Details (<%= c.clubid%>)">
				Details
			</button>
			<a href="<%= c.supportdoc.url%>" class="btn btn-success btn-xs has-tooltip" data-placement='top' title='Download Receipt'><i class="icon-arrow-down"></i></a>
		</td>
		<td>
		<%if status == 0 || status == 12 || status == 6%>
		<a href="/payments/editpayment?id=<%=c.id%>&own=true" class="btn btn-success btn-xs has-tooltip" data-placement='top' title='Edit'><i class="icon-pencil"></i></a> 
		<%if c.remark.nil?%>
		<a href="/payments/submitpayment?id=<%=c.id%>" class="btn btn-success btn-xs has-tooltip" data-placement='top' title='Submit'><i class="icon-share-alt"></i></a>
		<%else%>
		<a href="/payments/resubmitpayment?id=<%=c.id%>" class="btn btn-info btn-xs has-tooltip" data-placement='top' title='Resubmit'><i class="icon-share-alt"></i></a>
		<a href="#", onclick="viewremark('<%=c.remark%>')" class="btn btn-warning btn-xs has-tooltip" data-placement='top' title='View Remarks'><i class="icon-eye-open"></i></a>
		<%end%>
		
		<a href="/payments/deletepayment?id=<%=c.id%>&own=true" class="btn btn-danger btn-xs has-tooltip" data-placement='top' title='Delete'><i class="icon-remove"></i></a>
		<%end%>
		</td>
	</tr>
	<%end%>
</tbody>
</table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
<hr />
<div class="row">

	<div class="col-sm-12">
		<div class="box bordered-box green-border" style="margin-bottom:0;">
			<div class="box-header green-background">
				<div class="title">
					Payment Categories
				</div>
				<div class="actions">
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<div class="responsive-table">
					<div class="scrollable-area">
						<table class="table table-striped" style="margin-bottom:0;">
							<thead>
								<tr>
									<th> Code </th>
									<th> Category </th>
									
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>A</td>
									<td>Internal (within SMU only/SMU events&competitions) e.g ccaday, school held competitions</td>
									
								</tr>
								<tr>
									<td>B</td>
									<td>External (inter-uni/with external organisations) - competitions e.g. taking part in IVP</td>
								
								</tr>
								<tr>
									<td>C</td>
									<td>External (inter-uni/with external organisations) - non-competitive e.g. tri-uni conferences</td>
									
								</tr>
								<tr>
									<td>D</td>
									<td>Club-organised activties: Training/Lessons/Internal club events</td>
									
								</tr>
								<tr>
									<td>E</td>
									<td>Club-organised activities: Events open to SMU Students only (e.g expeditions, runabout, Waikiki)</td>
									
								</tr>
								<tr>
									<td>F</td>
									<td>Club-organised activities: Events open to SMU Students and/or external participants (e.g IVPs, Women's football clinics)</td>
									
								</tr>
								<tr>
									<td>G</td>
									<td>Administrative Operations (e.g meetings, noticeboard decorating)</td>
									
								</tr>
								
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr />


<div class="row">

	<div class="col-sm-12">
		<div class="box bordered-box green-border" style="margin-bottom:0;">
			<div class="box-header green-background">
				<div class="title">
					Payment Expense Categories
				</div>
				<div class="actions">
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<div class="responsive-table">
					<div class="scrollable-area">
						<table class="table table-striped" style="margin-bottom:0;">
							<thead>
								<tr>
									<th> S/N </th>
									<th> Category </th>
									<th> Explanation </th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>1</td>
									<td>Assets maintenance and repair</td>
									<td>Equipment with life-span of &gt;1 year.</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Assets purchases: &lt;=$100</td>
									<td>Equipment with life-span of &gt;1 year with cost &lt;=$100</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Assets purchases: $100</td>
									<td>Equipment with life-span of &gt;1 year with cost $100 &lt; X &lt; $500</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Assets purchases: &gt;$500</td>
									<td>Equipment with life-span of &gt;1 year with cost &gt;$500</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Attire</td>
									<td>Attire used for competitive purposes or authorized by the SMUSA Finance Secretary</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Coaching fees</td>
									<td>Fees to trainers/ coaches</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Facilities booking/clubs' membership payment to organisation</td>
									<td>Fees to rent training facilities or venue</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Gifts/prizes/awards</td>
									<td>Gifts, prizes, awards, tokens of appreciation etc</td>
								</tr>
								<tr>
									<td>9</td>
									<td>Publicity</td>
									<td>General costs of marketing materials etc</td>
								</tr>
								<tr>
									<td>10</td>
									<td>Stationery</td>
									<td>Stationery material for club's administrative purposes</td>
								</tr>
								<tr>
									<td>11</td>
									<td>Food and Beverages</td>
									<td>Welfare events such as BBQ, food gathering, for members of clubs only.</td>
								</tr>
								<tr>
									<td>12</td>
									<td>Transport</td>
									<td>Fees for transportation</td>
								</tr>
								<tr>
									<td>13</td>
									<td>Miscellaneous</td>
									<td>Any misc. expenses that do not fall into the above cateogories. Egs include stationary etc.</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%=javascript_tag do%>
 
function pres(a){
	var x;
	if (confirm("You have acknowleged the payment!")==true){
		window.location = "/payments/submitpayment?id="+a;
	}
	document.getElementById("pres").innerHTML = x;
}
function viewremark(a){
	
		alert(a);
	
}
<%end%>
<script type="text/javascript">
	$('[data-toggle="popover-with-html"]').popover({ html : true });
	
	$('body').on('click', function (e) {
	    $('[data-toggle="popover"]').each(function () {
	        //the 'is' for buttons that trigger popups
	        //the 'has' for icons within a button that triggers a popup
	        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
	            $(this).popover('hide');
	        }
	    });
	});
</script>