<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-file-alt'></i> <span>New Request</span></h1>
		</div>
	</div>
</div>

<% role = session[:role]%>
<%if current_user.nric.nil? || current_user.nric.empty? || current_user.fullname.nil? || current_user.fullname.empty? || current_user.contactno.nil? || current_user.contactno.empty?%>
<p>
	Please set your user details before requesting for withdrawal!
</p>
<%else%>
<div class='row'>
	<div class='col-sm-12 col-lg-12'>
		<div class='box bordered-box'>
			<div class='box-content box-double-padding'>
				<%= form_for @withdrawalrequest, :url => { :action => "edit" }, :method => :POST, :html => { :multipart => true }  do |f|  %>
				<fieldset>
					<div class='col-sm-4'>
						<div class='lead'>
							<i class='icon-file-alt text-contrast'></i>
							Notes On Editing Withdrawal Request
						</div>
						<small class='text-muted'> Please justify your withdrawals with valid reasons. Invalid reasons can lead to rejection of withdrawal.  </small>
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<h3>Application Information</h3>
						<div class='form-group'>
							<%= f.hidden_field(:id, :value => @withdrawalrequest.id)%>
							<label>Enter amount</label>(e.g. 100.90)
							<br />
							<%= f.number_field(:amount, :step => 0.01, :min => 0, :required => true) %>
						</div>

						<%if role.include? 'clubfinsec'%>
						<%= f.hidden_field(:status, :value => 0)%>
						<%elsif role.include? 'cbdmc'%>
						<%= f.hidden_field(:status, :value => 6)%>
						<%elsif role.include? 'smusasec'%>
						<%= f.hidden_field(:status, :value => 12)%>
						<%end%>
						
						<div class='form-group'>
							<label>Enter purpose</label>
							<br />
							<%= f.text_area :purpose, :required => true%>
						</div>
						
				</fieldset>
				<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
					<div class='text-right'>
						<!-- If no file attached, to display error -->
						<%= f.submit("Save", :class=>"btn btn-primary btn-lg blue-background")%>
					</div>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div>

<%end%>