<% if flash[:error] %> <font color="red"><%= flash[:error]%></font>
<%end%>
<%statuscode = ['Unsubmitted', 'With Club Finsec', 'With Club Pres', 'With CBD Finsec', 'With SMUSA Finsec', 'Done', 'Unsubmitted', 'With CBD Finsec', 'With CBD Pres', 'With SMUSA Finsec', 'Done']%>
<%role = session[:role]%>
<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-file-alt'></i><span> Reserve Withdrawal Requests</span></h1>

		</div>
	</div>
</div>
<%if (role.include?'clubfinsec') || (role.include?'cbdfinsec')%>
<div class='row'>

	<div class="col-sm-12">
		<div class="box bordered-box blue-border">
			<div class="box-header blue-background">
				<div class="title">
					My requests
				</div>
				<div class="actions">
					</a>

					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<div class="responsive-table">
					<div class="scrollable-area">

						<table class="table table-striped" style="margin-bottom:0;">
							<tr>
								<th>Request ID</th>
								<th>Club</th>
								<th>Amount</th>
								<th>Purpose</th>
								<th>Created</th>
								<th>Updated</th>
								<th>Status</th>

								<th>Action</th>

							</tr>
							<% @withdrawrequests.each do |c|%>
							<% status = c.status%>
							<%if c.remarks.nil?%>
							<tr>
								<%else%>
							<tr class = 'warning'>
								<%end%>
								<td><%= c.id%></td>
								<td><%= c.clubid%></td>
								<td>$<%= c.amount%></td>
								<td><%= c.purpose%></td>
								<td><%= c.created_at%></td>
								<td><%= c.updated_at%></td>
								<td><%= statuscode[c.status]%></td>

								<%if status == 1 || status == 7%>
								<td><a href="/reserve_withdrawals/editrequest?id=<%= c.id%>&own=true" class="btn btn-sm btn-primary blue-background">Edit</a> 
										<%if c.remarks.nil?%> 
											<a href="/reserve_withdrawals/submitrequest?id=<%= c.id%>" class="btn btn-sm btn-primary green-background">Submit</a>
											<a href="/reserve_withdrawals/deleterequest?id=<%= c.id%>" class="btn btn-sm btn-primary red-background">Delete</a></td>
										
								<%end%>
								<%end%>
								
								<%if (status == 1 || status == 7 )&& !c.remarks.nil? %>
								<td>
									<a href="#", onclick="viewremark('<%=c.remarks%>')" class="btn btn-sm btn-primary">View Remarks</a>
									<a href="/reserve_withdrawals/resubmitrequest?id=<%= c.id%>" class="btn btn-sm btn-primary green-background">ReSubmit</a>
									<a href="/reserve_withdrawals/deleterequest?id=<%= c.id%>" class="btn btn-sm btn-primary red-background">X</a></td>
								<%end%>		
							</tr>
							<%end%>

						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%end%>
<%if (role.include? 'president')%>
<div class='row'>
	<div class="col-sm-12">
		<div class="box bordered-box blue-border">
			<div class="box-header blue-background">
				<div class="title">
					Club's reserves withdrawal requests
				</div>
				<div class="actions">
					</a>

					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<div class="responsive-table">
					<div class="scrollable-area">

						<table class="table table-striped" style="margin-bottom:0;">
							<tr>
								<th>Request ID</th>
								<th>Club</th>
								<th>Amount</th>
								<th>Purpose</th>
								<th>Created</th>
								<th>Updated</th>
								<th>Status</th>

								<th>Action</th>
							</tr>
							<% @withdrawrequests.each do |c|%>
							<% status = c.status%>
							
							<%if c.remarks.nil?%>
							<tr>
								<%else%>
							<tr class = 'warning'>
								<%end%>
								<td><%= c.id%></td>
								<td><%= c.clubid%></td>
								<td>$<%= c.amount%></td>
								<td><%= c.purpose%></td>
								<td><%= c.created_at%></td>
								<td><%= c.updated_at%></td>
								<td><%= statuscode[c.status]%></td>

								
									<!-- President cannot reject?! -jinq-->
									 <%if status==2%> 
									 	<td><a href="#", onclick="pres(<%= c.id%>)" class="btn btn-sm btn-primary">Acknowledge</a> 
										<a href="/reserve_withdrawals/addremark?id=<%= c.id%>&status=1", onclick="smusa(<%= c.id%>)" class="btn btn-sm btn-primary red-background">Reject</a> 
									<%elsif status==8%> 
										<td><a href="#", onclick="pres(<%= c.id%>)" class="btn btn-sm btn-primary">Acknowledge</a> 
										<a href="/reserve_withdrawals/addremark?id=<%= c.id%>&status=7", onclick="smusa(<%= c.id%>)" class="btn btn-sm btn-primary red-background">Reject</a> 
									<%end%>
								</td>
								<p id ="pres"></p>
								<%end%>
							</tr>
							

						</table>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<%=javascript_tag do%>

function pres(a){

if (confirm("You are going to acknowledge the request!")==true){
window.location = "/reserve_withdrawals/submitrequest?id="+a;
}

}
function viewremark(a){

alert(a);

}

<%end%>
<%end%>
<%if (role.include? 'cbdfinsec')%>
<div class='row'>
	<div class="col-sm-12">
		<div class="box bordered-box blue-border">
			<div class="box-header blue-background">
				<div class="title">
					Club's reserves withdrawal requests
				</div>
				<div class="actions">
					</a>

					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<div class="responsive-table">
					<div class="scrollable-area">

						<table class="table table-striped" style="margin-bottom:0;">
							<tr>
								<th>Request ID</th>
								<th>Club</th>
								<th>Amount</th>
								<th>Purpose</th>
								<th>Created</th>
								<th>Updated</th>
								<th>Status</th>

								<th>Action</th>
							</tr>
							<% @withdrawrequndercbd.each do |c|%>
							<% status = c.status%>
							
							<%if c.remarks.nil?%>
							<tr>
								<%else%>
							<tr class = 'warning'>
								<%end%>
								<td><%= c.id%></td>
								<td><%= c.clubid%></td>
								<td><%= c.amount%></td>
								<td><%= c.purpose%></td>
								<td><%= c.created_at%></td>
								<td><%= c.updated_at%></td>
								<td><%= statuscode[c.status]%></td>
								<%if (status ==3)%>
								<td><a href="#", onclick="cbd(<%= c.id%>)" class="btn btn-sm btn-primary green-background">Submit</a>
								<a href="/reserve_withdrawals/addremark?id=<%= c.id%>&status=1" class="btn btn-sm btn-primary red-background">Reject</a></td>
								<p id ="cbd"></p>
								<%end%>
								<%end%>
							</tr>
						

						</table>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<%=javascript_tag do%>

function cbd(a){

if (confirm("You are going to acknowledge the request!")==true){
window.location = "/reserve_withdrawals/submitrequest?id="+a;
}

}
function viewremark(a){

alert(a);

}

<%end%>
<%end%>
<%if (role.include? 'smusafinsec')%>
<div class='row'>
	<div class="col-sm-12">
		<div class="box bordered-box blue-border">
			<div class="box-header blue-background">
				<div class="title">
					Club's reserves withdrawal requests
				</div>
				<div class="actions">
					</a>

					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class="box-content box-no-padding">
				<div class="responsive-table">
					<div class="scrollable-area">

						<table class="table table-striped" style="margin-bottom:0;">
							<tr>
								<th>Request ID</th>
								<th>Club</th>
								<th>Amount</th>
								<th>Purpose</th>
								<th>Created</th>
								<!-- <th>Updated</th> -->
								<th>Status</th>
								<th>Action</th>
							</tr>
							<% @withdrawrequnderall.each do |c|%>
							<% status = c.status%>
							
							<%if c.remarks.nil?%>
							<tr>
								<%else%>
							<tr class = 'warning'>
								<%end%>
								<td><%= c.id%></td>
								<td><%= c.clubid%></td>
								<td><%= c.amount%></td>
								<td><%= c.purpose%></td>
								<td><%= c.created_at%></td>
								<!-- <td><%= c.updated_at%></td> -->
								<td><%= statuscode[c.status]%></td>
								<%if status == 4 || status == 9%>
								<td><a href="/reserve_withdrawals/approverequest?id=<%= c.id%>, onclick="smuasaapprove(<%= c.id%>)" class="btn btn-sm btn-primary green-background">Approve</a> 
								<%end%>	
									<%if status==4%> 
										<a href="/reserve_withdrawals/addremark?id=<%= c.id%>&status=1", onclick="smusa(<%= c.id%>)" class="btn btn-sm btn-primary red-background">Reject</a> 
									<%elsif status==9%> 
										<a href="/reserve_withdrawals/addremark?id=<%= c.id%>&status=7", onclick="smusa(<%= c.id%>)" class="btn btn-sm btn-primary red-background">Reject</a> 
									<%end%>	
								<p id ="smusa"></p>
								<%end%>
							</tr>
							

						</table>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<%=javascript_tag do%>

function smusa(a){
var x;
if (confirm("Are you confirmed of your action?")==true){
window.location = "/reserve_withdrawals/addremark?id="+a;
}
function smuasaapprove(a){
var x;
if (confirm("Are you confirmed of your action?")==true){
window.location = "/reserve_withdrawals/approverequest?id="+a;
}

}

<%end%>

<%end%>


<%=javascript_tag do%>


function viewremark(a){

alert(a);

}

<%end%>
