<!DOCTYPE html>
<html>
<head>
  <title>Chocolicious</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<a href='/admin/logout'>Logout</a>
	<br>
	<%if !session[:role].nil?%>
	You are logged in as:
	<%=session[:userid]%>,<%=session[:club]%>,<%=session[:role]%>
	<%end%>
<%= yield %>

</body>
</html>
