<!DOCTYPE html>
<html>
<head>
  <title>CHOCOLICIOUS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<br>
	<%if !session[:role].nil?%>
	You are logged in as:
	<%=session[:userid]%>,<%=session[:club]%>,<%=session[:role]%>
	<%end%>
	
	 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= yield %>
</div>
</body>
</html>
