<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-edit'></i>
				<!-- span has to be on next line to create that space between the logo and the words -->
				<span>Edit Expenditure Account</span></h1>
		</div>
	</div>
</div>
<!-- Any permissions required: insert here -->
<div class='row'>
	<div class='col-sm-12 col-lg-12'>
		<div class='box bordered-box'>
			<div class='box-content box-double-padding'>
				<%= form_tag("/accounts/update/", :method => "post") do %>
				<fieldset>
					<div class='col-sm-4'>
						<div class='lead'>
							<i class='icon-file-alt text-contrast'></i>
							Notes On Editing Account
						</div>
						<small class='text-muted'> Do not make changes to account balance unecessarily as wrong edits can affect the club negatively. </small>
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<div class='form-group'>
							<label>Category 1 Balance</label>
							<br />
							<%= number_field_tag(:cat1, @clubexpAcc.Category1Balance, :step => 0.01, :min => 0, :max => 99999999, class:"form-control") %>
						</div>
						<div class='form-group'>
							<label>Category 2 Balance</label>
							<br />
							<%= number_field_tag(:cat2, @clubexpAcc.Category2Balance, :step => 0.01, :min => 0, :max => 99999999, class:"form-control") %>
						 
							<%= hidden_field_tag(:id, @clubexpAcc.clubid)%>
							<%= hidden_field_tag(:destination, @destination)%>
						</div>
					</fieldset>
					<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
						<div class='text-right'>
							<%= submit_tag("Update Record", :class=>"btn btn-primary btn-lg") %>
						</div>
					</div>
					<%end%>	
				</div>
			</div>
		</div>
	</div>
</div>