<h1>Edit Balances in <%=@club.clubid%></h1>
<%=form_for @club, :url => { :action => "updatereserve" } do |f|%>
<table>
	<tr>
		<th align="right">Balance: </th><td><%= f.number_field(:balance, :step => 0.01) %></td>
	</tr>
	<tr>
		<th align="right">Limit: </th><td><%= f.number_field(:limit, :step => 0.01) %></td>
	</tr>
	
</table>
<%= f.hidden_field(:clubid, :value=>@club.clubid)%>

<%= submit_tag("Update Record", :class=>"btn") %></th>
<%end%>
