<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-code'></i>
				<!-- span has to be on next line to create that space between the logo and the words -->
				<span>For Convenience ~ Programmer ONLY</span></h1>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box red-border' style='margin-bottom:0;'>
			<div class='box-header red-background'>
				<div class='title'>
					Edit Account balance and limit
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-no-padding'>
				<div class="col-sm-12">
					<br />
				<%=form_for @new, :url => { :action => "add" } do |f|%>
				<label>Club</label>
				<br />
				<%= f.select(:clubid, options_from_collection_for_select(@cbds, 'clubid', 'clubid') {}, {:class=>"select2 form-control"})%>
				<br />
				<br />
				<label>Balance</label>
				<br />
				<%= f.number_field(:balance, :class=>"form-control")%>
				<br />
				<br />
				<label>Limit</label>
				<br />
				<%= f.number_field(:limit, :class=>"form-control")%>
				<br />
				<br />
				<%= f.submit("Save", :class=>"btn red-background")%>
				<%end%>
				<br />
			</div>
		</div>
	</div>
</div>
