<%if session[:role].include? 'smusafinsec'%>

<div class='row'>
                            <div class='col-sm-12'>
                                <div class='page-header'>
                                    <h1 class='pull-left'>
                      <i class='icon-dollar'></i>
                      <span>SAC Account Management</span>
                    </h1>
                                    
                                </div>
                            </div>
                        </div>

<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box blue-border' style='margin-bottom:0;'>
			<div class='box-header blue-background'>
				<div class='title'>
					SAC Reserves Account (R001)
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-no-padding'>
				<div class='responsive-table'>
					<div class='scrollable-area'>
						<table class='table' style='margin-bottom:0;'>
							<tr><th>Account balance</th></tr>
							<tr><td><%=@sac.Category1Balance%></td></tr>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr />
<h2>Inject funds</h2>
<%=form_tag "/accounts/inject", :method => 'post' do%>
Amount to inject:
<%=number_field_tag :amount, nil, :min => 0, :max => 9999999999, :step => 0.01%>
<%=submit_tag 'Inject', data: {confirm: 'You are going to inject funds into the SAC account!'}%>
<%end%>
<hr />

<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box blue-border' style='margin-bottom:0;'>
			<div class='box-header blue-background'>
				<div class='title'>
					Club reserves
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-no-padding'>
				<div class='responsive-table'>
					<div class='scrollable-area'>
						<table class='table' style='margin-bottom:0;'>
							<tr><th>Account number</th><th>Account balance</th></tr>
							<tr>
								<td>ACF R002</td>
								<td><%=@acfreserves%></td>
							</tr>
							<tr>
								<td>SICS R003</td>
								<td><%=@sicsreserves%></td>
							</tr>
							<tr>
								<td>SSU R005</td>
								<td><%=@ssureserves%></td>
							</tr>
							<tr>
								<td>SCHOOLS R006</td>
								<td><%=@schoolreserves%></td>
							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%end%>
