<h1>View all Expenditure Accounts</h1>
<p>
	Select a CBd to view the clubs in the Constituent Bodies.
</p>

<%= form_tag("/accounts/viewallaccounts/", :method => "get") do %>
<b>Select CBD:</b><%= select_tag(:choice, options_from_collection_for_select(@CBD, "clubid", "clubid"), include_blank: true)%>
<%= submit_tag("Go!", :class=>"btn") %></th>
<%end%>
<table class = "table table-bordered table-condensed">
	<tr>
		<th>Club</th>
		<th>Cat 1</th>
		<th>Cat 2</th>
		<th>Cat 3</th>
		<th>Cat 4</th>
		<th>Cat 5</th>
		<th>Cat 6</th>
		<th>Cat 7</th>
		<th>Cat 8</th>
		<th>Cat 9</th>
		<th>Cat 10</th>
		<th>Cat 11</th>
		<th>Cat 12</th>
		<th>Cat 13</th>
		<th>Misc Balance</th>
		<th>Options</th>
	</tr>
	<% @clubArr.each do|x| %>
	<tr>

		<td><%= x.clubid%></td>
		<td><%= x.Category1Balance%></td>
		<td><%= x.Category2Balance%></td>
		<td><%= x.Category3Balance%></td>
		<td><%= x.Category4Balance%></td>
		<td><%= x.Category5Balance%></td>
		<td><%= x.Category6Balance%></td>
		<td><%= x.Category7Balance%></td>
		<td><%= x.Category8Balance%></td>
		<td><%= x.Category9Balance%></td>
		<td><%= x.Category10Balance%></td>
		<td><%= x.Category11Balance%></td>
		<td><%= x.Category12Balance%></td>
		<td><%= x.Category13Balance%></td>
		<td><%= x.MiscellaneousBalance%></td>
		<td> <%= form_tag("/accounts/editaccount", :method => "get") do %>
		<%= hidden_field_tag(:id, x.clubid) %>
		<%= hidden_field_tag(:destination, "viewallaccounts") %>		
		<%= submit_tag("Edit", :class=>"btn") %>
		<% end %> </td>
	</tr>
	<%end%>
</table>
