<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-money'></i>
				<!-- span has to be on next line to create that space between the logo and the words -->
				<span>View CBd Reserve Accounts</span></h1>
		</div>
	</div>
</div>
<% if (session[:role].include?"smusafinsec") || (session[:role].include?'cbdfinsec')%>
<!-- Next line still necessary? -->
<% if session[:role].include?"smusafinsec" %>
<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box blue-border' style='margin-bottom:0;'>
			<div class='box-header blue-background'>
				<div class='title'>
					View all CBd Reserve Accounts
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-no-padding'>
				<div class='responsive-table'>
					<div class='scrollable-area'>
						<table class='table' style='margin-bottom:0;'>
							<tr>
								<th>Overall Budget</th>
								<% @CBD.each do|x| %>
								<th><%= x.clubid%></th>
								<%end%>
							</tr>
							<tr>
								<td>$<%= @totalBdgt%></td>
								<% @budgetArr.each do|x| %>
								<td>$<%= x%></td>
								<%end%>
							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr />
<!-- CBd accounts breakdown -->
<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box blue-border' style='margin-bottom:0;'>
			<div class='box-header blue-background'>
				<div class='title'>
					Select CBd Reserve Accounts to view breakdown
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-no-padding'>
				<div class='col-sm-12'>
					<h2>Help:</h2>
					Select a CBd to display the expenditure account of that CBd and the expenditure accounts of the clubs that fall under it.
					If none is selected, <b>ONLY the CBds</b> will be displayed.
					<br />
					The table on top will display the CBd account, and the
					lower table will display the affliated clubs (if any).
				</div>

				<%= form_tag("/accounts/viewcbdaccountsreserve/", :html =>{class:'form', style:'margin-bottom: 0;'}, :method => "post") do %>
				<div class='col-sm-12'>
					<fieldset>
						<label>Select CBd</label>
						<%= select_tag(:choice, options_from_collection_for_select(@CBD, "clubid", "clubid"), prompt:"Select CBd")%>
					</fieldset>
					<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
						<%= submit_tag("Go!", class:"btn btn-primary") %>
					</div>
					<%end%>
					<%end%>
				</div>
				<br />
				<div class='col-sm-12'>
					<div class='responsive-table'>
						<div class='scrollable-area'>
							<table class='table' style='margin-bottom:0;'>
								<tr>
									<th>CBd</th>
									<th>Balance</th>
									<th>Limit</th>

									<th>Options</th>
								</tr>
								<% @choiceofCBD.each do|x| %>
								<tr>

									<td><%= x.clubid%></td>
									<td>$<%= x.balance%></td>
									<td>$<%= x.limit%></td>

									<td> <%= form_tag("/accounts/editaccountreserve", :method => "get") do %>
									<%= hidden_field_tag(:id, x.clubid) %>
									<%= hidden_field_tag(:destination, "viewcbdaccountsreserve") %>
									<%= submit_tag("Edit", class:"btn btn-success btn-small") %>
									<% end %> </td>
								</tr>
								<%end%>
							</table>
						</div>
					</div>

					<h2>Clubs under selected CBd</h2>
					<div class='responsive-table'>
						<div class='scrollable-area'>
							<table class='table' style='margin-bottom:0;'>
								<tr>
									<th>Club</th>
									<th>Balance</th>
									<th>Limit</th>

									<th>Options</th>
								</tr>
								<% @clubArr.each do|x| %>
								<tr>

									<td><%= x.clubid%></td>
									<td>$<%= x.balance%></td>
									<td>$<%= x.limit%></td>

									<td> <%= form_tag("/accounts/editaccountreserve", :method => "get") do %>
									<%= hidden_field_tag(:id, x.clubid) %>
									<%= hidden_field_tag(:destination, "viewcbdaccountsreserve") %>
									<%= submit_tag("Edit", class:"btn btn-success btn-small") %>
									<% end %> </td>
								</tr>
								<%end%>
							</table>
							<%end%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
