<% if (session[:role].include?"clubfinsec") || (session[:role].include?'president') || (session[:role].include?'smusasec')%> 
<h1>View <%= session[:club]%> Expenditure Account</h1>

<table class = "table table-bordered table-condensed">
	<tr>
		<th>Club</th>
		<th>Total</th>
		<th>Cat 1</th>
		<th>Cat 2</th>
		<!-- <th>Cat 3</th>
		<th>Cat 4</th>
		<th>Cat 5</th>
		<th>Cat 6</th>
		<th>Cat 7</th>
		<th>Cat 8</th>
		<th>Cat 9</th>
		<th>Cat 10</th>
		<th>Cat 11</th>
		<th>Cat 12</th>
		<th>Cat 13</th>
		<th>Misc</th> -->
		
	</tr>

	<tr>
		<%x = @club%>
		<%total = x.Category1Balance + x.Category2Balance%>
		<td><%= @club.clubid%></td>
		<td><%=total%></td>
		<td><%= @club.Category1Balance%></td>
		<td><%= @club.Category2Balance%></td>
		
		
	</tr>

</table>
<%if !@reserve.nil?%>
<h2>Reserve Account</h2>
<table class = "table table-bordered table-condensed">
	<tr>
		<th>Balance</th>
		<th>Limit</th>
		
	</tr>
	<tr>
		<td><%=@reserve.balance%></td>
		<td><%=@reserve.limit%></td>
		
	</tr>
	
</table>

<h3>Edit justification</h3>
<%=form_for @reserve, :url => {:action => 'editjustification'} do |f|%>
<%=f.text_area :justification%>
<%=f.hidden_field :clubid, :value => @reserve.clubid%>
<%=f.submit 'Submit', :class => 'btn'%>
<%end%>
<%end%>
<%end%>


<script>
	function viewremark(a){
	
		alert(a);
	
}
</script>
