<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-dollar'></i><span> View Account</span></h1>
		</div>
	</div>
</div>
<% if (session[:role].include?"clubfinsec") || (session[:role].include?'president') || (session[:role].include?'smusasec')%>
<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box blue-border' style='margin-bottom:0;'>
			<div class='box-header blue-background'>
				<div class='title'>
					View <%= session[:club]%> Expenditure Account
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-no-padding'>
				<div class='responsive-table'>
					<div class='scrollable-area'>
						<table class='table' style='margin-bottom:0;'>
							<tr>
								<th>Club</th>
								
								<th>Cat 1</th>
								<th>Cat 2</th>
							</tr>
							<tr>
								<% x = @club%>
								<% total = x.Category1Balance + x.Category2Balance%>
								<td><%= @club.clubid%></td>
								
								<td>$<%= @club.Category1Balance%></td>
								<td>$<%= @club.Category2Balance%></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<%if !@reserve.nil?%>
<!-- View club's reserve account -->
<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box blue-border' style='margin-bottom:0;'>
			<div class='box-header blue-background'>
				<div class='title'>
					View <%= session[:club]%> Reserve Account
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-no-padding'>
				<div class='responsive-table'>
					<div class='scrollable-area'>
						<table class='table' style='margin-bottom:0;'>
							<tr>
								<th>Balance</th>
								<th>Limit</th>

							</tr>
							<tr>
								<td>$<%= @reserve.balance%></td>
								<td>$<%= @reserve.limit%></td>

							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<div class='row'>
	<div class='col-sm-12'>
		<div class='box bordered-box blue-border' style='margin-bottom:0;'>
			<div class='box-header blue-background'>
				<div class='title'>
					Reserves Justification
				</div>
				<div class='actions'>
					<a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
				</div>
			</div>
			<div class='box-content box-double-padding'>
				<p>
					Enter the justification for the level of reserves in your account, you can update this anytime.
				</p>
				<%=form_for @reserve, :url => {:action => 'editjustification'} do |f|%>
				<fieldset>
					<div class="form-group">
						
						<%= f.text_area :justification, :class=>"autosize form-control", :maxlength => 255%>
						<%= f.hidden_field :clubid, :value => @reserve.clubid%>
					</div>
				</fieldset>
				<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
					<div class='text-right'>
						<%= f.submit 'Submit', :class=>"btn btn-primary btn-lg blue-background"%>
					</div>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
<%end%>
<%end%>

<script>
	function viewremark(a) {

		alert(a);

	}
</script>
